.top{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	color: #fff;
	background: #f3f3f3;
}
.fix{
	width: 100%;
	height: 40px;
	max-width: 640px;
	position: fixed;
	background: #ff0000;
	z-index: 999;
}
.zl{
	position: absolute;
	left: 13px;
	top: 10px;
	color: #fff;
}
.fix span{
	position: absolute;
	left: 50%;
    top: 50%;
	position: absolute;
    transform: translate(-50%, -50%);

}
.lb{
	width: 100%;
	height: 220px;
	background: url(../images/sj.png) no-repeat;
	background-size: 100% 220px;
	position: relative;
}
.im_1{
	height: 77px;
	position: absolute;
	left: 6%;
    top: 23%;
}
.lb-banner-z{
    font-size: 14px;
    position: absolute;
    left: 6%;
    top: 23%;
    height:71px;
    margin-left: 95px;
}
.lb-banner-z h4{
	margin-top: 5px;
}
.lb-banner-z  img{
		width: 16px;
		height: 16px;
}
.lb-banner-z span{
	width: 16px;
	height: 16px;
    background: #f41b05;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}
.lb-banner-z span:nth-of-type(1){
	left: 0; 
}
.lb-banner-z span:nth-of-type(2){
	left: 20px;
}
.lb-banner-z span:nth-of-type(3){
	left: 40px;
}
.qe{
	
	margin-left: 20%;
	margin-right: 30%;
	height: 50px;
	background: black;
	min-width: 320px;
	top: 34px;
	position: relative;
	z-index: 222;
}
.lb-banner-r{
	position: absolute;
	top: 29%;
	right: 3%;
	color: #fff;
	transform: rotateY(180deg);
}
.lb-banner-b{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 42px;
	background: rgba(0,0,0,.3);
	font-size: 13px;
}
.lb-banner-b li{
	float: left;
	height: 42px;
	text-align: center;
	font-weight: 700;
}
.lb-banner-b li p{
	margin-top: 5px;
	/*border-right:1px solid #fff;*/
}
.lb-banner-b li:nth-child(1){
	width: 33%;
}
.lb-banner-b li:nth-child(2){
	width: 33%;
	margin: 0 0.5%;
}
.lb-banner-b li:nth-child(3){
	width: 33%;
}
.lb-banner-b li:nth-child(3) p{
	/*border: none;*/
}
.xian{
	position: absolute;
	width: 0.5%;
	height: 34px;
	background: #fff;
	bottom: 4px;
}
.xian1{
	left: 33%;
}
.xian2{
	right: 33%;
}
/*//nave*/

.nav{
	width: 100%;
	position: relative;
	color: #959595;
	font-size: 13px;
	font-weight: 700;
	overflow: hidden;
}
.nav li{
	float: left;
	width: 33%;
	height: 80px;
	text-align: center;
	background: #fff;
	margin-top: 2px;
	padding-top: 13px;
}
.nav li:nth-child(1){
	margin-top: 0;
}
.nav li:nth-child(3){
	margin-top: 0;
}
.nav li:nth-child(2){
	margin: 0 0.5%!important;
}
.nav li:nth-child(3n+2){
	width: 33%;
	margin: 2px 0.5% 0;
}
/*//*/
.pic{
	width: 100%;
	position: relative;
    margin: 5px 0;
}
.pic img{
	width: 100%;
	vertical-align: top;
}
.zenjia{
	width: 100%;
	height: 50px;
	background:#fff;
}
/*//*/

.bottom{

	max-width: 640px;
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	bottom: 0;
	color: #959595;
	text-align: center;
	font-size: 13px;
	padding-top: 10px;
	border-top: 1px solid #f3f3f3;
}
.bottom li{
	float: left;
	width: 25%;
}